<div class="container mt">
    <div class="row align-items-start">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Informacion de usuario: {{usuario.nombre}}</h3>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
            
            
            <ol class="list-group">
                <li class="list-group-item">Nombre: {{usuario.nombre}}</li>
                <li class="list-group-item">Telefono: {{usuario.celular}}</li>
                <li class="list-group-item">E-mail: {{usuario.email}}</li>
            </ol>
        </div>
    </div>

</div>